# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules/
/apps/fe/node_modules/
/apps/be/node_modules/

# next.js
/.next/
/.cache/
/.turbo/
apps/fe/.next/
apps/fe/.cache/
apps/fe/.turbo/

# go build
/apps/be/api
/apps/be/worker
/apps/be/scheduler

# misc
.DS_Store
/apps/fe/.DS_Store
/apps/be/.DS_Store

# debug
npm-debug.log*
/apps/fe/logs
/apps/be/logs

# env files
/.env
/.env.*
/apps/fe/.env
/apps/fe/.env.*
/apps/be/.env
/apps/be/.env.*

# typescript
next-env.d.ts